<<<<<<< HEAD
body{
    background-color: rgba(250, 235, 215, 0.685);
}

.main{
  background-color: white;
  margin: auto;
  width: 50%;
  height: 75vh;
}

.topbar{
    height: 20vh;
    width: 100%;
    background-color: darkgray;
}

.footer{
  background-color: #7B6055;
  height: 10vh;
  width: 50%;
  margin: auto;
}
=======
.nav{
    background: lightblue;
    height: 10vh;
    width: vw;
}

.left{
    float: left;
    margin: 3vh;
}

.main{
    height: 90vh;
    width: 100 vw;
    background: black;
    padding: 10vh 25vw px;
}

.container{
    height: 50 vh;
    width: 50vw;
    background: white;
}

.container h3{
    border-bottom: 3px 
}


>>>>>>> b6bfd0fac8ea8aa4d3f8b524272a60e81556ab94
